docs/n8n/AdaptMap AI Recommendation.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/recommendation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -48
      ],
      "id": "271cde43-0367-4514-94a3-bb941f75e30d",
      "name": "Webhook",
      "webhookId": "2fc04f4d-bee8-40c5-9245-c8b19320f84d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1600,
        -48
      ],
      "id": "c904801c-1c84-4087-a575-7aed9dcc3669",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=== ZIEL ===\nDu bist ein Experte für Hitzeanpassung, Stadtplanung und Klimaresilienz in deutschen Städten. Deine Aufgabe ist es, basierend auf einer Umfrage zur Hitzebelastung und relevanten Knowledge Base Artikeln personalisierte, umsetzbare Empfehlungen auf Deutsch zu generieren.\n\n=== EINGABEDATEN ===\n\n**Submission ID:** {{ $json.submissionId }}\n**Problem Index:** {{ $json.problemIndex }}/100\n  - Interpretation: 0-30 = niedrige Belastung, 31-60 = mittlere Belastung, 61-80 = hohe Belastung, 81-100 = sehr hohe Belastung\n\n**Standort:**\n- Stadt: {{ $json.location.city || 'Unbekannt' }}\n- Postleitzahl: {{ $json.location.postal_code }}\n- Koordinaten: {{ $json.location.lat }}, {{ $json.location.lng }}\n\n**Umfrage-Antworten:**\n{{ JSON.stringify($json.answers, null, 2) }}\n  - Format: Schlüssel-Wert-Paare, wobei der Schlüssel die Frage-ID ist\n  - Werte können Strings, Zahlen, Arrays oder Objekte sein\n\n{{ $json.freeText ? `**Zusätzliche Informationen (Freitext):**\n${$json.freeText}` : '**Zusätzliche Informationen:** Keine' }}\n\n{{ $json.personalFields ? `**Persönliche Angaben (optional):**\n- Alter: ${$json.personalFields.age || 'Nicht angegeben'}\n- Geschlecht: ${$json.personalFields.gender || 'Nicht angegeben'}\n- Haushaltsgröße: ${$json.personalFields.householdSize || 'Nicht angegeben'}` : '**Persönliche Angaben:** Nicht angegeben' }}\n\n=== RELEVANTE KNOWLEDGE BASE ARTIKEL ===\n\n{{ $json.kbItems && $json.kbItems.length > 0 ? `Die folgenden Knowledge Base Artikel wurden als relevant identifiziert und sollten als Grundlage für deine Empfehlungen dienen:\n\n${$json.kbItems.map((item, idx) => `**Artikel ${idx + 1}:**\n- ID: ${item._id || item.id || 'unknown'}\n- Titel: ${item.title_de || item.title || 'Kein Titel'}\n- Kategorie: ${item.category || 'Keine Kategorie'}\n- Tags: ${(item.tags || []).join(', ') || 'Keine Tags'}\n- Inhalt: ${item.content_de || item.content || 'Kein Inhalt verfügbar'}\n- Relevanz-Score: ${item.score !== undefined ? item.score.toFixed(3) : 'N/A'}\n`).join('\\n\\n---\\n\\n')}\n\n**WICHTIG:** Nutze diese Knowledge Base Artikel als Referenz und Quelle für deine Empfehlungen. Wenn eine Empfehlung auf einem spezifischen Artikel basiert, gib die entsprechende kbItemId an.` : '**Hinweis:** Keine relevanten Knowledge Base Artikel gefunden. Generiere Empfehlungen basierend auf allgemeinem Fachwissen zur Hitzeanpassung.' }}\n\n=== REASONING PROZESS ===\n\nFühre die folgende Analyse durch:\n\n1. **Situationsanalyse:**\n   - Interpretiere den Problem Index im Kontext der gegebenen Antworten\n   - Identifiziere die Hauptprobleme basierend auf den Umfrage-Antworten\n   - Berücksichtige den Standort (Stadt, Postleitzahl) für lokale Relevanz\n   - Analysiere den Freitext auf zusätzliche Kontextinformationen\n   - **Nutze die bereitgestellten Knowledge Base Artikel** um spezifische, evidenzbasierte Empfehlungen zu entwickeln\n\n2. **Priorisierung:**\n   - Bestimme, welche Probleme am dringendsten sind (hoher Problem Index = hohe Priorität)\n   - Berücksichtige die persönlichen Umstände (Alter, Haushaltsgröße) für maßgeschneiderte Empfehlungen\n   - Identifiziere kurzfristige vs. langfristige Maßnahmen\n   - Priorisiere Empfehlungen, die durch Knowledge Base Artikel gestützt werden\n\n3. **Empfehlungsentwicklung:**\n   - Erstelle 3-8 konkrete, umsetzbare Empfehlungen\n   - **Basiere Empfehlungen auf den relevanten Knowledge Base Artikeln**, wenn verfügbar\n   - Jede Empfehlung sollte:\n     * Spezifisch auf die gegebene Situation eingehen\n     * Praktisch und umsetzbar sein\n     * Einen klaren Titel und eine detaillierte Beschreibung haben\n     * Eine angemessene Priorität haben (high/medium/low)\n     * **Wenn basierend auf einem KB-Artikel: die entsprechende kbItemId enthalten**\n   - Berücksichtige:\n     * Sofortmaßnahmen (z.B. Trinkwasser, Schattenplätze)\n     * Mittelfristige Maßnahmen (z.B. Raumklima, Verhaltensanpassungen)\n     * Langfristige Maßnahmen (z.B. bauliche Maßnahmen, Stadtplanung)\n\n4. **Zusammenfassung:**\n   - Fasse die Situation des Nutzers in 2-3 prägnanten Sätzen zusammen\n   - Stelle den Problem Index in einen verständlichen Kontext\n   - Erwähne die wichtigsten identifizierten Probleme\n   - Erwähne, wenn Knowledge Base Artikel als Grundlage verwendet wurden\n\n=== ERWARTETE AUSGABE ===\n\nDie Ausgabe muss exakt dem folgenden JSON-Schema entsprechen:\n\n```json\n{\n  \"summary\": \"string (2-3 Sätze auf Deutsch)\",\n  \"recommendations\": [\n    {\n      \"title\": \"string (kurz, prägnant, max. 60 Zeichen)\",\n      \"description\": \"string (detailliert, 2-3 Sätze, max. 300 Zeichen)\",\n      \"priority\": \"high\" | \"medium\" | \"low\",\n      \"kbItemId\": \"string | null (optional, wenn relevantes Knowledge Base Item existiert)\"\n    }\n  ],\n  \"referencedKbIds\": [\"string\"] (Array von Knowledge Base Item IDs, die als Referenz verwendet wurden)\n}\n```\n\n**WICHTIG:**\n- Alle Texte müssen auf Deutsch sein\n- Die Zusammenfassung sollte empathisch und verständlich sein\n- Empfehlungen müssen konkret und umsetzbar sein\n- Prioritäten sollten sinnvoll verteilt sein (nicht alle \"high\")\n- Mindestens 3, maximal 8 Empfehlungen\n- **Wenn Knowledge Base Artikel verwendet wurden, gib deren IDs in kbItemId (für einzelne Empfehlungen) und referencedKbIds (für alle verwendeten Artikel) an**\n- Wenn keine Knowledge Base Items referenziert werden, verwende leeres Array für referencedKbIds",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Du bist ein Experte für Hitzeanpassung und Klimaresilienz in deutschen Städten. Deine Aufgabe ist es, basierend auf Umfragedaten zur Hitzebelastung personalisierte, umsetzbare Empfehlungen zu generieren.\n\n**Deine Rolle:**\n- Experte für Stadtplanung und Hitzeanpassung\n- Berater für klimaresiliente Maßnahmen\n- Empathischer Kommunikator, der komplexe Informationen verständlich vermittelt\n\n**Deine Fähigkeiten:**\n- Analyse von Hitzebelastungsdaten\n- Entwicklung von maßgeschneiderten Lösungen\n- Priorisierung von Maßnahmen nach Dringlichkeit und Wirksamkeit\n- Berücksichtigung lokaler Gegebenheiten und persönlicher Umstände\n\n**Deine Ausgabe:**\n- Immer auf Deutsch\n- Präzise, praktisch und umsetzbar\n- Empathisch und verständlich\n- Strukturiert nach dem vorgegebenen Schema\n\n**Qualitätskriterien:**\n- Empfehlungen müssen konkret und umsetzbar sein\n- Prioritäten müssen sinnvoll verteilt sein\n- Zusammenfassung muss die Situation klar und verständlich beschreiben\n- Alle Informationen müssen auf den gegebenen Daten basieren"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        -48
      ],
      "id": "fb4d92fb-e723-4f40-bb9b-588536484a24",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Extract webhook body from n8n webhook format\nconst webhookData = $input.first().json;\n\n// n8n webhook sends data in body property\nconst body = webhookData.body || webhookData;\n\n// Validate required fields\nif (!body.submissionId) {\n  throw new Error('Missing submissionId in request body');\n}\n\nif (!body.answers) {\n  throw new Error('Missing answers in request body');\n}\n\nif (typeof body.problemIndex !== 'number') {\n  throw new Error('Missing or invalid problemIndex in request body');\n}\n\nif (!body.location || !body.location.lat || !body.location.lng || !body.location.postal_code) {\n  throw new Error('Missing or invalid location data in request body');\n}\n\n// Return formatted data for AI agent\nreturn {\n  json: {\n    submissionId: body.submissionId,\n    answers: body.answers,\n    problemIndex: body.problemIndex,\n    location: {\n      lat: body.location.lat,\n      lng: body.location.lng,\n      postal_code: body.location.postal_code,\n      city: body.location.city || null\n    },\n    freeText: body.freeText || body.user_text || null,\n    personalFields: body.personalFields || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -48
      ],
      "id": "fc6217ef-8edd-4843-89ff-3e65977d8493",
      "name": "Format Body"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"$id\": \"https://adaptmap.de/schemas/ai-recommendation-output.json\",\n  \"title\": \"AI Recommendation Output Schema\",\n  \"description\": \"Schema für die Ausgabe der KI-Empfehlungen basierend auf Umfragedaten zur Hitzebelastung\",\n  \"type\": \"object\",\n  \"required\": [\"summary\", \"recommendations\"],\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"string\",\n      \"title\": \"Zusammenfassung\",\n      \"description\": \"Eine prägnante, empathische Zusammenfassung der Situation des Nutzers auf Deutsch. Sollte 2-3 Sätze lang sein und den Problem Index in einen verständlichen Kontext setzen.\",\n      \"minLength\": 50,\n      \"maxLength\": 500,\n      \"examples\": [\n        \"Basierend auf Ihren Angaben zeigt sich eine mittlere bis hohe Hitzebelastung (Problem Index: 65/100) in Köln. Die Hauptprobleme betreffen die thermische Behaglichkeit in Ihrer Wohnung und den eingeschränkten Zugang zu kühlen Räumen. Besonders die hohen Temperaturen während der Nachtstunden beeinträchtigen Ihre Lebensqualität.\"\n      ]\n    },\n    \"recommendations\": {\n      \"type\": \"array\",\n      \"title\": \"Empfehlungen\",\n      \"description\": \"Liste von konkreten, umsetzbaren Handlungsempfehlungen zur Reduzierung der Hitzebelastung. Sollte zwischen 3 und 8 Empfehlungen enthalten, die auf die spezifische Situation des Nutzers zugeschnitten sind.\",\n      \"minItems\": 3,\n      \"maxItems\": 8,\n      \"items\": {\n        \"type\": \"object\",\n        \"title\": \"Empfehlung\",\n        \"description\": \"Eine einzelne, konkrete Empfehlung zur Hitzeanpassung\",\n        \"required\": [\"title\", \"description\", \"priority\"],\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"title\": \"Titel\",\n            \"description\": \"Kurzer, prägnanter Titel der Empfehlung. Sollte max. 60 Zeichen lang sein und die Hauptmaßnahme klar benennen.\",\n            \"minLength\": 10,\n            \"maxLength\": 60,\n            \"examples\": [\n              \"Nachtlüftung optimieren\",\n              \"Verschattung für Südfenster installieren\",\n              \"Trinkwasserzufuhr sicherstellen\"\n            ]\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"title\": \"Beschreibung\",\n            \"description\": \"Detaillierte Beschreibung der Empfehlung auf Deutsch. Sollte 2-3 Sätze lang sein (max. 300 Zeichen) und konkrete, umsetzbare Schritte oder Maßnahmen beschreiben.\",\n            \"minLength\": 50,\n            \"maxLength\": 300,\n            \"examples\": [\n              \"Öffnen Sie nachts alle Fenster, sobald die Außentemperatur unter der Innentemperatur liegt. Nutzen Sie Querlüftung durch gegenüberliegende Fenster für optimale Luftzirkulation. Schließen Sie die Fenster am frühen Morgen, bevor die Außentemperatur wieder steigt.\",\n              \"Installieren Sie außenliegende Verschattungselemente (z.B. Markisen, Rollläden) an Südfenstern. Diese reduzieren die direkte Sonneneinstrahlung um bis zu 80% und verhindern die Aufheizung der Räume.\"\n            ]\n          },\n          \"priority\": {\n            \"type\": \"string\",\n            \"title\": \"Priorität\",\n            \"description\": \"Die Dringlichkeit und Wichtigkeit dieser Empfehlung. 'high' = sofort umsetzbar und sehr wirksam, 'medium' = wichtig aber nicht dringend, 'low' = langfristige Maßnahme oder weniger kritisch.\",\n            \"enum\": [\"high\", \"medium\", \"low\"],\n            \"examples\": [\"high\", \"medium\", \"low\"]\n          },\n          \"kbItemId\": {\n            \"type\": [\"string\", \"null\"],\n            \"title\": \"Knowledge Base Item ID\",\n            \"description\": \"Optional: Die ID eines relevanten Knowledge Base Items, das zusätzliche Informationen zu dieser Empfehlung enthält. Nur angeben, wenn ein passendes Knowledge Base Item existiert.\",\n            \"default\": null,\n            \"examples\": [null, \"kb_12345\", \"kb_67890\"]\n          }\n        },\n        \"additionalProperties\": false\n      }\n    },\n    \"referencedKbIds\": {\n      \"type\": \"array\",\n      \"title\": \"Referenzierte Knowledge Base Item IDs\",\n      \"description\": \"Liste von Knowledge Base Item IDs, die als Referenz oder Quelle für die generierten Empfehlungen verwendet wurden. Kann leer sein, wenn keine Knowledge Base Items verfügbar sind oder verwendet wurden.\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Eine Knowledge Base Item ID\",\n        \"pattern\": \"^[a-zA-Z0-9_-]+$\"\n      },\n      \"default\": [],\n      \"uniqueItems\": true,\n      \"examples\": [[], [\"kb_12345\"], [\"kb_12345\", \"kb_67890\"]]\n    }\n  },\n  \"additionalProperties\": false,\n  \"examples\": [\n    {\n      \"summary\": \"Basierend auf Ihren Angaben zeigt sich eine mittlere bis hohe Hitzebelastung (Problem Index: 65/100) in Köln. Die Hauptprobleme betreffen die thermische Behaglichkeit in Ihrer Wohnung und den eingeschränkten Zugang zu kühlen Räumen. Besonders die hohen Temperaturen während der Nachtstunden beeinträchtigen Ihre Lebensqualität.\",\n      \"recommendations\": [\n        {\n          \"title\": \"Nachtlüftung optimieren\",\n          \"description\": \"Öffnen Sie nachts alle Fenster, sobald die Außentemperatur unter der Innentemperatur liegt. Nutzen Sie Querlüftung durch gegenüberliegende Fenster für optimale Luftzirkulation. Schließen Sie die Fenster am frühen Morgen, bevor die Außentemperatur wieder steigt.\",\n          \"priority\": \"high\",\n          \"kbItemId\": null\n        },\n        {\n          \"title\": \"Verschattung für Südfenster installieren\",\n          \"description\": \"Installieren Sie außenliegende Verschattungselemente (z.B. Markisen, Rollläden) an Südfenstern. Diese reduzieren die direkte Sonneneinstrahlung um bis zu 80% und verhindern die Aufheizung der Räume.\",\n          \"priority\": \"medium\",\n          \"kbItemId\": \"kb_12345\"\n        },\n        {\n          \"title\": \"Trinkwasserzufuhr sicherstellen\",\n          \"description\": \"Stellen Sie sicher, dass Sie ausreichend Wasser zur Verfügung haben. Trinken Sie regelmäßig kleine Mengen, auch wenn Sie noch keinen Durst verspüren. Vermeiden Sie koffeinhaltige Getränke und Alkohol.\",\n          \"priority\": \"high\",\n          \"kbItemId\": null\n        }\n      ],\n      \"referencedKbIds\": [\"kb_12345\"]\n    }\n  ]\n}\n\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        192
      ],
      "id": "a5724ddd-bb8b-4651-a415-173b88c5367f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        224
      ],
      "id": "12c04073-bb5c-4d0d-9865-7b5759a82be4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AmDv0XgXbiVbFCU1",
          "name": "Soter Studio Key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1152,
        416
      ],
      "id": "163b42ab-a291-4a7b-bd56-fe58831ce5b2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "AmDv0XgXbiVbFCU1",
          "name": "Soter Studio Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI output from previous node\nconst aiOutput = $input.first().json.output;\n\n// Get original input data for metadata\nconst originalInput = $('Format Body').first().json;\n\n\n// Format response to match backend expectations\n// The AI output should already match the schema, but we ensure proper formatting\nconst response = {\n  summary: (aiOutput.summary || '').trim(),\n  recommendations: (aiOutput.recommendations || []).map(rec => ({\n    title: (rec.title || '').trim(),\n    description: (rec.description || '').trim(),\n    priority: rec.priority || 'medium',\n    kbItemId: rec.kbItemId || null\n  })).filter(rec => rec.title && rec.description), // Filter out invalid recommendations\n  referencedKbIds: (aiOutput.referencedKbIds || []).filter(id => id && typeof id === 'string'),\n};\n\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -48
      ],
      "id": "25b13a01-54a3-4708-ae33-b38731eb89c1",
      "name": "Set body"
    },
    {
      "parameters": {
        "mode": "load",
        "mongoCollection": {
          "__rl": true,
          "value": "knowledge_base_vectors",
          "mode": "name"
        },
        "vectorIndexName": "vector_index",
        "prompt": "=Find relevant knowledge base articles about heat adaptation, cooling strategies, and climate resilience that relate to this user's heat stress situation:\n\n**User's Heat Stress Issues:**\n{{ JSON.stringify($json.answers, null, 2) }}\n\n**Location:** {{ $json.location.city || 'Unknown' }}, {{ $json.location.postal_code }}\n**Coordinates:** {{ $json.location.lat }}, {{ $json.location.lng }}\n\n{{ $json.freeText ? `**Additional Context:**\n${$json.freeText}` : '' }}\n\n{{ $json.personalFields ? `**User Profile:**\n- Age: ${$json.personalFields.age || 'Not specified'}\n- Household Size: ${$json.personalFields.householdSize || 'Not specified'}\n- Gender: ${$json.personalFields.gender || 'Not specified'}` : '' }}\n\n**Problem Index:** {{ $json.problemIndex }}/100\n\nRetrieve the most relevant knowledge base items that can help provide specific, actionable recommendations for this situation. Focus on:\n- Immediate cooling strategies\n- Building adaptation measures\n- Behavioral recommendations\n- Long-term solutions\n- Location-specific considerations",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        96,
        64
      ],
      "id": "7fcd771e-5d5e-43fc-ac33-8907ecc42609",
      "name": "MongoDB Atlas Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "71ZabfZ1nhAOCJRf",
          "name": "MongoDB vectors"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        256
      ],
      "id": "c4ace951-3c0e-4e5e-9444-e9c5c13b2702",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AmDv0XgXbiVbFCU1",
          "name": "Soter Studio Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format vector search results for AI agent\nconst userData = $('Format Body').first().json;\nconst vectorResults = $('MongoDB Atlas Vector Store').all() || [];\n\n// Extract and format KB items from vector search results\n// Structure: [{ document: { pageContent, metadata: { _id, kbItemId } }, score }]\nconst kbItemMap = new Map();\n\nvectorResults.forEach(item => {\n  const data = item.json || item;\n  const doc = data.document || data;\n  const metadata = doc.metadata || {};\n  const kbItemId = metadata.kbItemId || metadata._id;\n  const score = data.score || 0;\n  const pageContent = doc.pageContent || '';\n  \n  if (!kbItemId) return; // Skip items without ID\n  \n  // Parse pageContent if it's pipe-delimited (title|content|tags|category)\n  let title = '';\n  let content = pageContent;\n  let tags = [];\n  let category = null;\n  \n  if (pageContent.includes('|')) {\n    const parts = pageContent.split('|');\n    if (parts.length >= 4) {\n      title = parts[0] || '';\n      content = parts[1] ? parts[1].replace(/^\"|\"$/g, '') : pageContent; // Remove quotes\n      try {\n        tags = JSON.parse(parts[2] || '[]');\n      } catch (e) {\n        tags = [];\n      }\n      category = parts[3] || null;\n    }\n  }\n  \n  // Group by kbItemId, keep the highest scoring chunk\n  if (!kbItemMap.has(kbItemId) || score > kbItemMap.get(kbItemId).score) {\n    kbItemMap.set(kbItemId, {\n      _id: kbItemId,\n      title_de: title || metadata.title || '',\n      content_de: content,\n      category: category || metadata.category || null,\n      tags: tags.length > 0 ? tags : (metadata.tags || []),\n      score: score\n    });\n  }\n});\n\n// Convert map to array of unique KB items\nconst kbItems = Array.from(kbItemMap.values());\n\n// Merge user data with KB items\nreturn {\n  json: {\n    ...userData,\n    kbItems: kbItems\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        64
      ],
      "id": "bdeb815d-4033-4162-84ee-e0f3a8809807",
      "name": "Format KB Results"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Body": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set body": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store": {
      "main": [
        [
          {
            "node": "Format KB Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format KB Results": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "name": "First item",
        "code": 1
      },
      {
        "name": "Second item",
        "code": 2
      }
    ],
    "Format Body": [
      {
        "submissionId": "67a1b2c3d4e5f6g7h8i9j0k1",
        "answers": {
          "heat_comfort": "very_hot",
          "indoor_temperature_day": 32,
          "indoor_temperature_night": 28,
          "cooling_access": "none",
          "shade_access": "limited",
          "ventilation": "poor",
          "health_impact": [
            "sleep_disturbance",
            "fatigue"
          ],
          "adaptation_measures": [
            "fans",
            "curtains"
          ],
          "building_type": "apartment",
          "floor_level": 5,
          "window_orientation": [
            "south",
            "west"
          ]
        },
        "problemIndex": 72,
        "location": {
          "lat": 50.9375,
          "lng": 6.9603,
          "postal_code": "50667",
          "city": "Köln"
        },
        "freeText": "Die Wohnung heizt sich besonders in den Nachmittagsstunden extrem auf. Nachts kühlt es kaum ab, was zu Schlafproblemen führt. Wir haben keine Klimaanlage und die Fenster sind nur nach Süden und Westen ausgerichtet. Wie wäre es mit Solar Panels?",
        "personalFields": {
          "age": 42,
          "gender": "female",
          "householdSize": 3
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b965f1b1f353f12e1f5972bc6fbf945dbfe06182ae524b0cb4a5b1c93ccbc132"
  }
}