docs/n8n/AdaptMap AI Recommendation.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/recommendation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -192
      ],
      "id": "6ccf79d7-9a61-4122-835e-a3bc4cfee5a0",
      "name": "Webhook",
      "webhookId": "2fc04f4d-bee8-40c5-9245-c8b19320f84d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1712,
        -192
      ],
      "id": "83143aed-5b08-4089-b061-3a50205a9a0e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=== ZIEL ===\nDu bist ein Experte für Hitzeanpassung, Stadtplanung und Klimaresilienz in deutschen Städten. Deine Aufgabe ist es, basierend auf einer Umfrage zur Hitzebelastung und relevanten Knowledge Base Artikeln personalisierte, umsetzbare Empfehlungen auf Deutsch zu generieren.\n\n=== EINGABEDATEN ===\n\n**Submission ID:** {{ $json.submissionId }}\n**Problem Index:** {{ $json.problemIndex }}/100\n  - Interpretation: 0-30 = niedrige Belastung, 31-60 = mittlere Belastung, 61-80 = hohe Belastung, 81-100 = sehr hohe Belastung\n\n**Standort:**\n- Stadt: {{ $json.location.city || 'Unbekannt' }}\n- Postleitzahl: {{ $json.location.postal_code }}\n- Koordinaten: {{ $json.location.lat }}, {{ $json.location.lng }}\n\n**Umfrage-Antworten:**\n{{ JSON.stringify($json.answers, null, 2) }}\n  - Format: Schlüssel-Wert-Paare, wobei der Schlüssel die Frage-ID ist\n  - Werte können Strings, Zahlen, Arrays oder Objekte sein\n\n{{ $json.freeText ? `**Zusätzliche Informationen (Freitext):**\n${$json.freeText}` : '**Zusätzliche Informationen:** Keine' }}\n\n{{ $json.personalFields ? `**Persönliche Angaben (optional):**\n- Alter: ${$json.personalFields.age || 'Nicht angegeben'}\n- Geschlecht: ${$json.personalFields.gender || 'Nicht angegeben'}\n- Haushaltsgröße: ${$json.personalFields.householdSize || 'Nicht angegeben'}` : '**Persönliche Angaben:** Nicht angegeben' }}\n\n=== RELEVANTE KNOWLEDGE BASE ARTIKEL ===\n\n{{ $json.kbItems && $json.kbItems.length > 0 ? `Die folgenden Knowledge Base Artikel wurden als relevant identifiziert und sollten als Grundlage für deine Empfehlungen dienen:\n\n${$json.kbItems.map((item, idx) => `**Artikel ${idx + 1}:**\n- ID: ${item._id || item.id || 'unknown'}\n- Titel: ${item.title || item.company || item.tip || 'Kein Titel'}\n- Unternehmen: ${item.company || 'N/A'}\n- Kategorien: ${(item.categories || []).join(', ') || 'Keine Kategorien'}\n- Keywords: ${(item.keywords || []).join(', ') || 'Keine Keywords'}\n- Beschreibung: ${item.description || 'Keine Beschreibung verfügbar'}\n- Probleme gelöst: ${item.problemsSolved || 'N/A'}\n- Anwendbar wenn: ${item.applicableWhen || 'N/A'}\n- Relevanz-Score: ${item.score !== undefined ? item.score.toFixed(3) : 'N/A'}\n`).join('\\n\\n---\\n\\n')}\n\n**WICHTIG:** Nutze diese Knowledge Base Artikel als Referenz und Quelle für deine Empfehlungen. Wenn eine Empfehlung auf einem spezifischen Artikel basiert, gib die entsprechende kbItemId an.` : '**Hinweis:** Keine relevanten Knowledge Base Artikel gefunden. Generiere Empfehlungen basierend auf allgemeinem Fachwissen zur Hitzeanpassung.' }}\n\n=== REASONING PROZESS ===\n\nFühre die folgende Analyse durch:\n\n1. **Situationsanalyse:**\n   - Interpretiere den Problem Index im Kontext der gegebenen Antworten\n   - Identifiziere die Hauptprobleme basierend auf den Umfrage-Antworten\n   - Berücksichtige den Standort (Stadt, Postleitzahl) für lokale Relevanz\n   - Analysiere den Freitext auf zusätzliche Kontextinformationen\n   - **Nutze die bereitgestellten Knowledge Base Artikel** um spezifische, evidenzbasierte Empfehlungen zu entwickeln\n\n2. **Priorisierung:**\n   - Bestimme, welche Probleme am dringendsten sind (hoher Problem Index = hohe Priorität)\n   - Berücksichtige die persönlichen Umstände (Alter, Haushaltsgröße) für maßgeschneiderte Empfehlungen\n   - Identifiziere kurzfristige vs. langfristige Maßnahmen\n   - Priorisiere Empfehlungen, die durch Knowledge Base Artikel gestützt werden\n\n3. **Empfehlungsentwicklung:**\n   - Erstelle 3-8 konkrete, umsetzbare Empfehlungen\n   - **Basiere Empfehlungen auf den relevanten Knowledge Base Artikeln**, wenn verfügbar\n   - Jede Empfehlung sollte:\n     * Spezifisch auf die gegebene Situation eingehen\n     * Praktisch und umsetzbar sein\n     * Einen klaren Titel und eine detaillierte Beschreibung haben\n     * Eine angemessene Priorität haben (high/medium/low)\n     * **Wenn basierend auf einem KB-Artikel: die entsprechende kbItemId enthalten**\n   - Berücksichtige:\n     * Sofortmaßnahmen (z.B. Trinkwasser, Schattenplätze)\n     * Mittelfristige Maßnahmen (z.B. Raumklima, Verhaltensanpassungen)\n     * Langfristige Maßnahmen (z.B. bauliche Maßnahmen, Stadtplanung)\n\n4. **Zusammenfassung:**\n   - Fasse die Situation des Nutzers in 2-3 prägnanten Sätzen zusammen\n   - Stelle den Problem Index in einen verständlichen Kontext\n   - Erwähne die wichtigsten identifizierten Probleme\n   - Erwähne, wenn Knowledge Base Artikel als Grundlage verwendet wurden\n\n=== ERWARTETE AUSGABE ===\n\nDie Ausgabe muss exakt dem folgenden JSON-Schema entsprechen:\n\n```json\n{\n  \"summary\": \"string (2-3 Sätze auf Deutsch)\",\n  \"recommendations\": [\n    {\n      \"title\": \"string (kurz, prägnant, max. 60 Zeichen)\",\n      \"description\": \"string (detailliert, 2-3 Sätze, max. 300 Zeichen)\",\n      \"priority\": \"high\" | \"medium\" | \"low\",\n      \"kbItemId\": \"string | null (optional, wenn relevantes Knowledge Base Item existiert)\"\n    }\n  ],\n  \"referencedKbIds\": [\"string\"] (Array von Knowledge Base Item IDs, die als Referenz verwendet wurden)\n}\n```\n\n**WICHTIG:**\n- Alle Texte müssen auf Deutsch sein\n- Die Zusammenfassung sollte empathisch und verständlich sein\n- Empfehlungen müssen konkret und umsetzbar sein\n- Prioritäten sollten sinnvoll verteilt sein (nicht alle \"high\")\n- Mindestens 3, maximal 8 Empfehlungen\n- **Wenn Knowledge Base Artikel verwendet wurden, gib deren IDs in kbItemId (für einzelne Empfehlungen) und referencedKbIds (für alle verwendeten Artikel) an**\n- Wenn keine Knowledge Base Items referenziert werden, verwende leeres Array für referencedKbIds",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Du bist ein Experte für Hitzeanpassung und Klimaresilienz in deutschen Städten. Deine Aufgabe ist es, basierend auf Umfragedaten zur Hitzebelastung personalisierte, umsetzbare Empfehlungen zu generieren.\n\n**Deine Rolle:**\n- Experte für Stadtplanung und Hitzeanpassung\n- Berater für klimaresiliente Maßnahmen\n- Empathischer Kommunikator, der komplexe Informationen verständlich vermittelt\n\n**Deine Fähigkeiten:**\n- Analyse von Hitzebelastungsdaten\n- Entwicklung von maßgeschneiderten Lösungen\n- Priorisierung von Maßnahmen nach Dringlichkeit und Wirksamkeit\n- Berücksichtigung lokaler Gegebenheiten und persönlicher Umstände\n\n**Deine Ausgabe:**\n- Immer auf Deutsch\n- Präzise, praktisch und umsetzbar\n- Empathisch und verständlich\n- Strukturiert nach dem vorgegebenen Schema\n\n**Qualitätskriterien:**\n- Empfehlungen müssen konkret und umsetzbar sein\n- Prioritäten müssen sinnvoll verteilt sein\n- Zusammenfassung muss die Situation klar und verständlich beschreiben\n- Alle Informationen müssen auf den gegebenen Daten basieren"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        -192
      ],
      "id": "6426ce76-e083-455a-a084-a699df8ea2ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// n8n Webhook -> Code node: normalize + enrich submission for vector search + AI prompt\n\nconst webhookData = $input.first().json;\nconst body = webhookData.body || webhookData;\n\n// ---------- helpers ----------\nconst isNum = (v) => typeof v === \"number\" && Number.isFinite(v);\n\nconst heatFrequencyMap = {\n  \"1-3\": { label: \"1–3 Tage/Jahr\", score: 20 },\n  \"4-10\": { label: \"4–10 Tage/Jahr\", score: 40 },\n  \"11-20\": { label: \"11–20 Tage/Jahr\", score: 60 },\n  \"21-40\": { label: \"21–40 Tage/Jahr\", score: 80 },\n  \">40\": { label: \"> 40 Tage/Jahr\", score: 100 },\n};\n\nconst intensityLevel = (v0to9) => {\n  if (!isNum(v0to9)) return { label: \"unbekannt\", bucket: \"unknown\" };\n  if (v0to9 <= 2) return { label: \"niedrig\", bucket: \"low\" };\n  if (v0to9 <= 5) return { label: \"mittel\", bucket: \"medium\" };\n  if (v0to9 <= 7) return { label: \"hoch\", bucket: \"high\" };\n  return { label: \"sehr hoch\", bucket: \"very_high\" };\n};\n\nconst housingTypeMap = { apartment: \"Wohnung\", house: \"Haus\" };\nconst greenNeighborhoodMap = { yes: \"Ja\", no: \"Nein\", unsure: \"Weiß nicht\" };\nconst cityAreaMap = { inner: \"Innenstadt\", outer: \"Äußerer Bereich\" };\n\nconst desiredChangesMap = {\n  greening: \"Begrünung\",\n  water: \"Wasser\",\n  shadow: \"Schatten\",\n  shading: \"Verschattung\",\n  cooling: \"Kühlung\",\n  roof_greening: \"Dachbegrünung\",\n  facade_greening: \"Fassadenbegrünung\",\n  water_fountain: \"Wasserspender\",\n};\n\nconst severityFromProblemIndex = (pi) => {\n  // mirrors src/app/api/submit/route.ts\n  if (!isNum(pi)) return \"unbekannt\";\n  if (pi >= 70) return \"hoch\";\n  if (pi >= 40) return \"mittel\";\n  return \"niedrig\";\n};\n\nconst classifyScore = (score0to100) => {\n  // mirrors src/app/api/submit/route.ts insights\n  if (!isNum(score0to100)) return \"unbekannt\";\n  if (score0to100 >= 70) return \"Kritisch\";\n  if (score0to100 >= 40) return \"Problematisch\";\n  return \"Unauffällig\";\n};\n\n// ---------- validate minimal ----------\nif (!body?.submissionId) throw new Error(\"Missing submissionId in request body\");\n\nif (!body.location || !isNum(body.location.lat) || !isNum(body.location.lng) || !body.location.postal_code) {\n  throw new Error(\"Missing/invalid location (lat,lng,postal_code)\");\n}\n\nif (!isNum(body.problemIndex)) throw new Error(\"Missing/invalid problemIndex\");\n\n// ---------- normalize input ----------\nconst submissionId = body.submissionId;\n\nconst location = {\n  lat: body.location.lat,\n  lng: body.location.lng,\n  postal_code: body.location.postal_code,\n  city: body.location.city || null,\n  street: body.location.street || null,\n};\n\nconst personalFields = body.personalFields || null;\n\nconst heatFrequencyValue = body.heatFrequency ?? null;\nconst heatFrequency = heatFrequencyMap[heatFrequencyValue] || { label: String(heatFrequencyValue || \"unbekannt\"), score: null };\n\nconst heatIntensityValue = body.heatIntensity;\nconst intensity = {\n  value: isNum(heatIntensityValue) ? heatIntensityValue : null, // 0..9\n  level: intensityLevel(heatIntensityValue).label,\n  score: isNum(heatIntensityValue) ? (heatIntensityValue / 9) * 100 : null, // mirrors backend mapping\n};\n\nconst livingSituation = body.livingSituation || {};\nconst livingSituationHuman = {\n  housingType: livingSituation.housingType ? (housingTypeMap[livingSituation.housingType] || livingSituation.housingType) : \"unbekannt\",\n  greenNeighborhood: livingSituation.greenNeighborhood\n    ? (greenNeighborhoodMap[livingSituation.greenNeighborhood] || livingSituation.greenNeighborhood)\n    : \"unbekannt\",\n  cityArea: livingSituation.cityArea ? (cityAreaMap[livingSituation.cityArea] || livingSituation.cityArea) : \"unbekannt\",\n};\n\nconst climate = body.climateAdaptationKnowledge || {};\nconst knowsTerm =\n  typeof climate.knowsTerm === \"boolean\"\n    ? climate.knowsTerm\n    : climate.knowsTerm === \"true\"\n      ? true\n      : climate.knowsTerm === \"false\"\n        ? false\n        : null;\n\nconst desiredChangesRaw = Array.isArray(body.desiredChanges) ? body.desiredChanges : [];\nconst desiredChanges = desiredChangesRaw\n  .map((x) => (typeof x === \"string\" ? x : x?.icon))\n  .filter(Boolean)\n  .map((icon) => ({\n    value: icon,\n    label: desiredChangesMap[icon] || icon,\n  }));\n\nconst subScores = body.subScores || null;\nconst subScoresHuman = subScores\n  ? {\n      frequency: { score: subScores.frequency, label: classifyScore(subScores.frequency) },\n      intensity: { score: subScores.intensity, label: classifyScore(subScores.intensity) },\n    }\n  : null;\n\nconst problemIndex = body.problemIndex;\nconst severity = severityFromProblemIndex(problemIndex);\n\n// Backwards-compat “answers” object (so your existing prompt templates don’t break)\nconst answers = {\n  heatFrequency: { value: heatFrequencyValue, label: heatFrequency.label, score: heatFrequency.score },\n  heatIntensity: { value: intensity.value, level: intensity.level, score: intensity.score },\n  livingSituation: {\n    housingType: { value: livingSituation.housingType || null, label: livingSituationHuman.housingType },\n    greenNeighborhood: { value: livingSituation.greenNeighborhood || null, label: livingSituationHuman.greenNeighborhood },\n    cityArea: { value: livingSituation.cityArea || null, label: livingSituationHuman.cityArea },\n  },\n  climateAdaptationKnowledge: {\n    knowsTerm,\n    description: climate.description || null,\n  },\n  desiredChanges,\n  location,\n  personalFields,\n  freeText: body.freeText || body.user_text || null,\n  questionnaireVersion: body.questionnaireVersion || null,\n  subScores,\n};\n\n// ---------- build “good” german context text for vector search ----------\nconst lines = [];\n\nlines.push(`Standort: ${location.city || \"unbekannt\"} (${location.postal_code}), ${location.street ? location.street + \", \" : \"\"}Koordinaten ${location.lat}, ${location.lng}`);\nlines.push(`Wohnsituation: ${livingSituationHuman.housingType}; Nachbarschaft offen/grün: ${livingSituationHuman.greenNeighborhood}; Lage: ${livingSituationHuman.cityArea}`);\n\nlines.push(\n  `Hitzebelastung: Häufigkeit ${heatFrequency.label}  + Intensität ${intensity.value ?? \"?\"}/9 (${intensity.level}, ${intensity.score !== null ? intensity.score.toFixed(1) : \"?\"}/100)`\n);\n\nlines.push(`Problem-Index: ${Math.round(problemIndex)}/100 (${severity})`);\n\nif (subScoresHuman) {\n  lines.push(\n    `Teil-Scores: Häufigkeit ${Math.round(subScoresHuman.frequency.score)}/100 (${subScoresHuman.frequency.label}), Intensität ${Math.round(subScoresHuman.intensity.score)}/100 (${subScoresHuman.intensity.label})`\n  );\n}\n\nif (desiredChanges.length) {\n  lines.push(`Gewünschte Änderungen: ${desiredChanges.map((d) => d.label).join(\", \")}`);\n}\n\nif (knowsTerm !== null) {\n  lines.push(`Wissen zu „Klimawandelanpassung“: ${knowsTerm ? \"kennt den Begriff\" : \"kennt den Begriff nicht\"}${climate.description ? `; eigene Beschreibung: ${climate.description}` : \"\"}`);\n}\n\nconst freeText = (body.freeText || body.user_text || \"\").trim();\nif (freeText) lines.push(`Freitext: ${freeText}`);\n\nif (personalFields && (personalFields.age || personalFields.gender || personalFields.householdSize)) {\n  lines.push(\n    `Person: Alter ${personalFields.age ?? \"n/a\"}, Geschlecht ${personalFields.gender ?? \"n/a\"}, Haushalt ${personalFields.householdSize ?? \"n/a\"}`\n  );\n}\n\nconst contextText = lines.join(\"\\n\");\n\n// A slightly “query-optimized” vector prompt (shorter, dense keywords)\nconst vectorQuery = [\n  \"Hitzeanpassung, Kühlung, Stadtklima, Hitzestress, Hitzeschutz, Verschattung, Begrünung, Wasser, Innenraumkühlung, Verhaltenstipps, bauliche Maßnahmen.\",\n  `Kontext:\\n${contextText}`,\n  \"Bitte liefere Knowledge-Base-Einträge mit konkreten Maßnahmen/Produkten/Tipps passend zu Wohnsituation, Stadtlage und gewünschtem Fokus.\",\n].join(\"\\n\\n\");\n\nreturn {\n  json: {\n    submissionId,\n    location,\n    personalFields,\n    freeText: freeText || null,\n    questionnaireVersion: body.questionnaireVersion || null,\n\n    heatFrequency: heatFrequencyValue,\n    heatIntensity: intensity.value,\n    livingSituation: body.livingSituation || null,\n    climateAdaptationKnowledge: body.climateAdaptationKnowledge || null,\n    desiredChanges: desiredChangesRaw,\n\n    problemIndex,\n    subScores,\n\n    // enriched + backwards compat\n    answers,\n    severity,\n    contextText,\n    vectorQuery,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -192
      ],
      "id": "231442bf-89a7-4e53-a2de-5acc755c2a84",
      "name": "Format Body"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"$id\": \"https://adaptmap.de/schemas/ai-recommendation-output.json\",\n  \"title\": \"AI Recommendation Output Schema\",\n  \"description\": \"Schema für die Ausgabe der KI-Empfehlungen basierend auf Umfragedaten zur Hitzebelastung\",\n  \"type\": \"object\",\n  \"required\": [\"summary\", \"recommendations\"],\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"string\",\n      \"title\": \"Zusammenfassung\",\n      \"description\": \"Eine prägnante, empathische Zusammenfassung der Situation des Nutzers auf Deutsch. Sollte 2-3 Sätze lang sein und den Problem Index in einen verständlichen Kontext setzen.\",\n      \"minLength\": 50,\n      \"maxLength\": 500,\n      \"examples\": [\n        \"Basierend auf Ihren Angaben zeigt sich eine mittlere bis hohe Hitzebelastung (Problem Index: 65/100) in Köln. Die Hauptprobleme betreffen die thermische Behaglichkeit in Ihrer Wohnung und den eingeschränkten Zugang zu kühlen Räumen. Besonders die hohen Temperaturen während der Nachtstunden beeinträchtigen Ihre Lebensqualität.\"\n      ]\n    },\n    \"recommendations\": {\n      \"type\": \"array\",\n      \"title\": \"Empfehlungen\",\n      \"description\": \"Liste von konkreten, umsetzbaren Handlungsempfehlungen zur Reduzierung der Hitzebelastung. Sollte zwischen 3 und 8 Empfehlungen enthalten, die auf die spezifische Situation des Nutzers zugeschnitten sind.\",\n      \"minItems\": 3,\n      \"maxItems\": 8,\n      \"items\": {\n        \"type\": \"object\",\n        \"title\": \"Empfehlung\",\n        \"description\": \"Eine einzelne, konkrete Empfehlung zur Hitzeanpassung\",\n        \"required\": [\"title\", \"description\", \"priority\"],\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"title\": \"Titel\",\n            \"description\": \"Kurzer, prägnanter Titel der Empfehlung. Sollte max. 60 Zeichen lang sein und die Hauptmaßnahme klar benennen.\",\n            \"minLength\": 10,\n            \"maxLength\": 60,\n            \"examples\": [\n              \"Nachtlüftung optimieren\",\n              \"Verschattung für Südfenster installieren\",\n              \"Trinkwasserzufuhr sicherstellen\"\n            ]\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"title\": \"Beschreibung\",\n            \"description\": \"Detaillierte Beschreibung der Empfehlung auf Deutsch. Sollte 2-3 Sätze lang sein (max. 300 Zeichen) und konkrete, umsetzbare Schritte oder Maßnahmen beschreiben.\",\n            \"minLength\": 50,\n            \"maxLength\": 300,\n            \"examples\": [\n              \"Öffnen Sie nachts alle Fenster, sobald die Außentemperatur unter der Innentemperatur liegt. Nutzen Sie Querlüftung durch gegenüberliegende Fenster für optimale Luftzirkulation. Schließen Sie die Fenster am frühen Morgen, bevor die Außentemperatur wieder steigt.\",\n              \"Installieren Sie außenliegende Verschattungselemente (z.B. Markisen, Rollläden) an Südfenstern. Diese reduzieren die direkte Sonneneinstrahlung um bis zu 80% und verhindern die Aufheizung der Räume.\"\n            ]\n          },\n          \"priority\": {\n            \"type\": \"string\",\n            \"title\": \"Priorität\",\n            \"description\": \"Die Dringlichkeit und Wichtigkeit dieser Empfehlung. 'high' = sofort umsetzbar und sehr wirksam, 'medium' = wichtig aber nicht dringend, 'low' = langfristige Maßnahme oder weniger kritisch.\",\n            \"enum\": [\"high\", \"medium\", \"low\"],\n            \"examples\": [\"high\", \"medium\", \"low\"]\n          },\n          \"kbItemId\": {\n            \"type\": [\"string\", \"null\"],\n            \"title\": \"Knowledge Base Item ID\",\n            \"description\": \"Optional: Die ID eines relevanten Knowledge Base Items, das zusätzliche Informationen zu dieser Empfehlung enthält. Nur angeben, wenn ein passendes Knowledge Base Item existiert.\",\n            \"default\": null,\n            \"examples\": [null, \"kb_12345\", \"kb_67890\"]\n          }\n        },\n        \"additionalProperties\": false\n      }\n    },\n    \"referencedKbIds\": {\n      \"type\": \"array\",\n      \"title\": \"Referenzierte Knowledge Base Item IDs\",\n      \"description\": \"Liste von Knowledge Base Item IDs, die als Referenz oder Quelle für die generierten Empfehlungen verwendet wurden. Kann leer sein, wenn keine Knowledge Base Items verfügbar sind oder verwendet wurden.\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Eine Knowledge Base Item ID\",\n        \"pattern\": \"^[a-zA-Z0-9_-]+$\"\n      },\n      \"default\": [],\n      \"uniqueItems\": true,\n      \"examples\": [[], [\"kb_12345\"], [\"kb_12345\", \"kb_67890\"]]\n    }\n  },\n  \"additionalProperties\": false,\n  \"examples\": [\n    {\n      \"summary\": \"Basierend auf Ihren Angaben zeigt sich eine mittlere bis hohe Hitzebelastung (Problem Index: 65/100) in Köln. Die Hauptprobleme betreffen die thermische Behaglichkeit in Ihrer Wohnung und den eingeschränkten Zugang zu kühlen Räumen. Besonders die hohen Temperaturen während der Nachtstunden beeinträchtigen Ihre Lebensqualität.\",\n      \"recommendations\": [\n        {\n          \"title\": \"Nachtlüftung optimieren\",\n          \"description\": \"Öffnen Sie nachts alle Fenster, sobald die Außentemperatur unter der Innentemperatur liegt. Nutzen Sie Querlüftung durch gegenüberliegende Fenster für optimale Luftzirkulation. Schließen Sie die Fenster am frühen Morgen, bevor die Außentemperatur wieder steigt.\",\n          \"priority\": \"high\",\n          \"kbItemId\": null\n        },\n        {\n          \"title\": \"Verschattung für Südfenster installieren\",\n          \"description\": \"Installieren Sie außenliegende Verschattungselemente (z.B. Markisen, Rollläden) an Südfenstern. Diese reduzieren die direkte Sonneneinstrahlung um bis zu 80% und verhindern die Aufheizung der Räume.\",\n          \"priority\": \"medium\",\n          \"kbItemId\": \"kb_12345\"\n        },\n        {\n          \"title\": \"Trinkwasserzufuhr sicherstellen\",\n          \"description\": \"Stellen Sie sicher, dass Sie ausreichend Wasser zur Verfügung haben. Trinken Sie regelmäßig kleine Mengen, auch wenn Sie noch keinen Durst verspüren. Vermeiden Sie koffeinhaltige Getränke und Alkohol.\",\n          \"priority\": \"high\",\n          \"kbItemId\": null\n        }\n      ],\n      \"referencedKbIds\": [\"kb_12345\"]\n    }\n  ]\n}\n\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1200,
        48
      ],
      "id": "ff9f8175-b4cc-4230-9c6a-92bc454ee58b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        80
      ],
      "id": "31cafa37-042d-4d7a-a036-9023dad268ce",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wd5o4STXpbfsVMky",
          "name": "Temporal Key (they should get their own)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        272
      ],
      "id": "2ea09ad6-77ec-48a2-bcb1-68d11919f173",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "wd5o4STXpbfsVMky",
          "name": "Temporal Key (they should get their own)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get AI output from previous node\nconst aiOutput = $input.first().json.output;\n\n// Get original input data for metadata\nconst originalInput = $('Format Body').first().json;\n\n\n// Format response to match backend expectations\n// The AI output should already match the schema, but we ensure proper formatting\nconst response = {\n  summary: (aiOutput.summary || '').trim(),\n  recommendations: (aiOutput.recommendations || []).map(rec => ({\n    title: (rec.title || '').trim(),\n    description: (rec.description || '').trim(),\n    priority: rec.priority || 'medium',\n    kbItemId: rec.kbItemId || null\n  })).filter(rec => rec.title && rec.description), // Filter out invalid recommendations\n  referencedKbIds: (aiOutput.referencedKbIds || []).filter(id => id && typeof id === 'string'),\n};\n\nreturn response;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -192
      ],
      "id": "cf2abd54-3b7c-45be-9c18-31c360e6fde0",
      "name": "Set body"
    },
    {
      "parameters": {
        "mode": "load",
        "mongoCollection": {
          "__rl": true,
          "value": "knowledge_base_vectors",
          "mode": "name"
        },
        "vectorIndexName": "vector_index",
        "prompt": "=Find relevant knowledge base articles about heat adaptation, cooling strategies, and climate resilience that relate to this user's heat stress situation:\n\n**User's Heat Stress Issues:**\n{{ JSON.stringify($json.answers, null, 2) }}\n\n**Location:** {{ $json.location.city || 'Unknown' }}, {{ $json.location.postal_code }}\n**Coordinates:** {{ $json.location.lat }}, {{ $json.location.lng }}\n\n{{ $json.freeText ? `**Additional Context:**\n${$json.freeText}` : '' }}\n\n{{ $json.personalFields ? `**User Profile:**\n- Age: ${$json.personalFields.age || 'Not specified'}\n- Household Size: ${$json.personalFields.householdSize || 'Not specified'}\n- Gender: ${$json.personalFields.gender || 'Not specified'}` : '' }}\n\n**Problem Index:** {{ $json.problemIndex }}/100\n\nRetrieve the most relevant knowledge base items that can help provide specific, actionable recommendations for this situation. Focus on:\n- Immediate cooling strategies\n- Building adaptation measures\n- Behavioral recommendations\n- Long-term solutions\n- Location-specific considerations",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        320,
        -192
      ],
      "id": "8869c313-ce35-492c-bb51-5aae6c3b37ef",
      "name": "MongoDB Atlas Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "QTke3XRCEMPQX33d",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        112
      ],
      "id": "79affee0-2363-4b70-bf9f-a8bf968dbcbd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wd5o4STXpbfsVMky",
          "name": "Temporal Key (they should get their own)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format vector search results for AI agent\nconst userData = $('Format Body').first().json;\nconst vectorResults = $('MongoDB Atlas Vector Store').all() || [];\n\n// Extract and format KB items from vector search results\n// Structure: [{ document: { pageContent, metadata: { _id, kbItemId } }, score }]\nconst kbItemMap = new Map();\n\nvectorResults.forEach(item => {\n  const data = item.json || item;\n  const doc = data.document || data;\n  const metadata = doc.metadata || {};\n  const kbItemId = metadata.kbItemId || metadata._id;\n  const score = data.score || 0;\n  const pageContent = doc.pageContent || '';\n  \n  if (!kbItemId) return; // Skip items without ID\n  \n  // Parse pageContent if it's pipe-delimited (title|content|categories|keywords)\n  let title = '';\n  let content = pageContent;\n  let categories = [];\n  let keywords = [];\n  \n  if (pageContent.includes('|')) {\n    const parts = pageContent.split('|');\n    if (parts.length >= 4) {\n      title = parts[0] || '';\n      content = parts[1] ? parts[1].replace(/^\"|\"$/g, '') : pageContent; // Remove quotes\n      try {\n        categories = JSON.parse(parts[2] || '[]');\n      } catch (e) {\n        categories = [];\n      }\n      try {\n        keywords = JSON.parse(parts[3] || '[]');\n      } catch (e) {\n        keywords = [];\n      }\n    }\n  }\n  \n  // Group by kbItemId, keep the highest scoring chunk\n  if (!kbItemMap.has(kbItemId) || score > kbItemMap.get(kbItemId).score) {\n    kbItemMap.set(kbItemId, {\n      _id: kbItemId,\n      title: title || metadata.title || '',\n      company: metadata.company || null,\n      tip: metadata.tip || null,\n      description: content || metadata.description || '',\n      problemsSolved: metadata.problemsSolved || metadata.problems_solved || null,\n      applicableWhen: metadata.applicableWhen || metadata.applicable_when || null,\n      categories: categories.length > 0 ? categories : (metadata.categories || []),\n      keywords: keywords.length > 0 ? keywords : (metadata.keywords || []),\n      score: score\n    });\n  }\n});\n\n// Convert map to array of unique KB items\nconst kbItems = Array.from(kbItemMap.values());\n\n// Merge user data with KB items\nreturn {\n  json: {\n    ...userData,\n    kbItems: kbItems\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -192
      ],
      "id": "f3f80135-7b62-48ed-9ef3-598452bdf7b9",
      "name": "Format KB Results"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Body": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set body": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store": {
      "main": [
        [
          {
            "node": "Format KB Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format KB Results": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.adaptmap.de",
          "user-agent": "node",
          "content-length": "992",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "149.7.77.157",
          "x-forwarded-host": "n8n.adaptmap.de",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "30ad19236549",
          "x-real-ip": "149.7.77.157"
        },
        "params": {},
        "query": {},
        "body": {
          "submissionId": "6970ea2f16e4d954bc41b5ed",
          "metadata": {
            "timestamp": "2026-01-21T15:01:03.170Z",
            "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"
          },
          "location": {
            "lat": 50.94674215,
            "lng": 6.914981081147541,
            "postal_code": "50823",
            "city": "Köln",
            "street": "Sömmeringstrasse 73"
          },
          "personalFields": {},
          "questionnaireVersion": "v1.0",
          "heatFrequency": "4-10",
          "heatIntensity": 7,
          "livingSituation": {
            "housingType": "house",
            "greenNeighborhood": "no",
            "cityArea": "inner"
          },
          "climateAdaptationKnowledge": {
            "knowsTerm": true
          },
          "desiredChanges": [
            {
              "icon": "greening",
              "id": "6970ea2fd29db3829c0442c8"
            },
            {
              "icon": "cooling",
              "id": "6970ea2fd29db3829c0442c9"
            },
            {
              "icon": "shadow",
              "id": "6970ea2fd29db3829c0442ca"
            },
            {
              "icon": "shading",
              "id": "6970ea2fd29db3829c0442cb"
            }
          ],
          "problemIndex": 58.88888888888889,
          "subScores": {
            "frequency": 40,
            "intensity": 77.77777777777779
          },
          "freeText": "nice app bro\n",
          "createdAt": "2026-01-21T15:01:03.180Z",
          "updatedAt": "2026-01-21T15:01:03.180Z"
        },
        "webhookUrl": "https://n8n.adaptmap.de/webhook/ai/recommendation",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b32eea9df48850b6574f57ade3758b33ead212ef1b948eeb63b86f46c7850224"
  }
}