docs/n8n/Knowledge Base Sync.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb/sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        64
      ],
      "id": "03bd559f-5bd7-4be0-9c9e-7ced8ffe5c2e",
      "name": "Webhook",
      "webhookId": "kb-sync-webhook-id"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1856,
        96
      ],
      "id": "310871b2-8980-4faf-8906-45e686ef15be",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate webhook input\nconst webhookData = $input.first().json;\nconst body = webhookData.body || webhookData;\n\n// Validate input\nif (!body.action || !['create', 'update', 'delete'].includes(body.action)) {\n  throw new Error('Invalid action. Must be create, update, or delete');\n}\n\nif (!body.kbItemId) {\n  throw new Error('Missing kbItemId');\n}\n\n// Return formatted data\nreturn {\n  json: {\n    action: body.action,\n    kbItemId: body.kbItemId,\n    trigger: body.trigger || 'webhook'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        64
      ],
      "id": "da7ba970-6b02-4e8d-a964-9716d9bcfdf6",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -752,
        64
      ],
      "id": "ee5c095e-865d-4330-a2ac-61136c90a76c",
      "name": "Check Action"
    },
    {
      "parameters": {
        "url": "=https://adaptmap.de/api/knowledge-base-items/{{ $('Parse Input').first().json.kbItemId }}/api-key",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        112
      ],
      "id": "68f8fc4d-7c8c-4b73-8a02-8bd41e728f79",
      "name": "Fetch KB Item from Payload",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TwK5iljrSjFmglvT",
          "name": "Payload API key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if item should be synced\nconst kbItem = $input.first().json;\n\n// Only sync published items\nif (kbItem.status !== 'published') {\n  return {\n    json: {\n      shouldSync: false,\n      reason: 'Item is not published',\n      kbItem: kbItem\n    }\n  };\n}\n\n// Check if item exists in MongoDB\nconst existingVector = $('Check Existing Vector').first()?.json || null;\n\nif (!existingVector) {\n  // Item doesn't exist - needs sync\n  return {\n    json: {\n      shouldSync: true,\n      reason: 'Item not found in vector DB',\n      kbItem: kbItem,\n      needsEmbedding: true\n    }\n  };\n}\n\n// Item exists - check if content changed\n// Create content hash for comparison\nfunction createContentHash(item) {\n  const title = item.title_de || '';\n  const content = item.content_de || '';\n  const tags = JSON.stringify((item.tags || []).map(t => t.tag || t).sort());\n  const category = item.category || '';\n  return `${title}|${content}|${tags}|${category}`;\n}\n\nconst currentHash = createContentHash(kbItem);\nconst existingHash = createContentHash(existingVector);\n\nif (currentHash !== existingHash) {\n  // Content changed - needs sync\n  return {\n    json: {\n      shouldSync: true,\n      reason: 'Content changed',\n      kbItem: kbItem,\n      needsEmbedding: true\n    }\n  };\n}\n\n// Check if embedding model changed\nconst currentModel = $env.EMBEDDING_MODEL || 'text-embedding-3-small';\nif (existingVector.embeddingModel && existingVector.embeddingModel !== currentModel) {\n  return {\n    json: {\n      shouldSync: true,\n      reason: 'Embedding model changed',\n      kbItem: kbItem,\n      needsEmbedding: true\n    }\n  };\n}\n\n// Item is up to date - skip sync\nreturn {\n  json: {\n    shouldSync: false,\n    reason: 'Item already synced and up to date',\n    kbItem: kbItem,\n    existingVector: existingVector\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        112
      ],
      "id": "88248223-f333-4056-88bc-3033c6da674d",
      "name": "Check If Sync Needed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.shouldSync }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        176,
        112
      ],
      "id": "d5668418-6e12-464f-ad9f-8cb5eeae4a21",
      "name": "Should Sync?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare text content for embedding\nconst checkResult = $('Check If Sync Needed').first().json;\nconst kbItem = checkResult.kbItem;\n\nconst title = kbItem.title_de || '';\nconst contentText = kbItem.content_de || '';\nconst combinedText = `${title}\\n\\n${contentText}`.trim();\n\n// Extract tags\nconst tags = (kbItem.tags || []).map(t => t.tag || t).filter(Boolean);\n\n// Create content hash for tracking\nfunction createContentHash(item) {\n  const title = item.title_de || '';\n  const content = item.content_de || '';\n  const tags = JSON.stringify((item.tags || []).map(t => t.tag || t).sort());\n  const category = item.category || '';\n  return `${title}|${content}|${tags}|${category}`;\n}\n\nreturn {\n  json: {\n    kbItemId: kbItem.id,\n    title_de: title,\n    contentText: contentText,\n    combinedText: combinedText,\n    tags: tags,\n    category: kbItem.category || null,\n    status: kbItem.status,\n    contentHash: createContentHash(kbItem),\n    reason: checkResult.reason\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        352
      ],
      "id": "ebdfed7f-3350-4395-a77e-6d14e67a460c",
      "name": "Prepare Text for Embedding"
    },
    {
      "parameters": {
        "jsCode": "// Prepare document for MongoDB upsert\nconst textData = $('Prepare Text for Embedding').first().json;\nconst embeddingResult = $input.first().json;\n\n// Extract embedding array\nconst embeddingArray = Array.isArray(embeddingResult.embedding) \n  ? embeddingResult.embedding \n  : (embeddingResult.data || []);\n\nif (!Array.isArray(embeddingArray) || embeddingArray.length === 0) {\n  throw new Error('Failed to generate embedding: Invalid embedding array');\n}\n\nconst embeddingModel = $env.EMBEDDING_MODEL || 'text-embedding-3-small';\nconst now = new Date().toISOString();\n\nconst document = {\n  _id: textData.kbItemId,\n  title_de: textData.title_de,\n  content_de: textData.contentText,\n  contentHash: textData.contentHash,\n  tags: textData.tags,\n  category: textData.category,\n  status: textData.status,\n  embedding: embeddingArray,\n  embeddingModel: embeddingModel,\n  embeddingDimensions: embeddingArray.length,\n  lastSyncedAt: now,\n  createdAt: now,\n  updatedAt: now\n};\n\nreturn { json: document };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        352
      ],
      "id": "78ecd439-bbb7-4be5-a8a4-d47c21197792",
      "name": "Prepare Document"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://adaptmap.de/api/knowledge-base-items/{{ $('Parse Input').first().json.kbItemId }}/embedding-metadata",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeddingMetadata\": {\n    \"embedding_id\": \"{{ $json._id }}\",\n    \"model\": \"{{ $json.embeddingModel }}\",\n    \"dimensions\": {{ $json.embeddingDimensions }},\n    \"last_synced\": \"{{ $json.lastSyncedAt }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        352
      ],
      "id": "e1a42c5f-d326-4b50-ab80-bba1a4f230d1",
      "name": "Update Embedding Metadata",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TwK5iljrSjFmglvT",
          "name": "Payload API key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst parseInput = $('Parse Input').first().json;\nconst checkResult = $('Check If Sync Needed').first()?.json || {};\nconst document = $('Prepare Document').first()?.json || {};\n\nif (parseInput.action === 'delete') {\n  return {\n    json: {\n      success: true,\n      action: 'delete',\n      kbItemId: parseInput.kbItemId,\n      message: 'Item deleted from vector database'\n    }\n  };\n}\n\nif (!checkResult.shouldSync) {\n  return {\n    json: {\n      success: true,\n      action: 'skip',\n      kbItemId: parseInput.kbItemId,\n      reason: checkResult.reason || 'Item already synced and up to date',\n      message: 'Sync skipped - no changes detected'\n    }\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    action: parseInput.action,\n    kbItemId: parseInput.kbItemId,\n    embeddingDimensions: document.embeddingDimensions,\n    embeddingModel: document.embeddingModel,\n    lastSyncedAt: document.lastSyncedAt,\n    message: 'Item successfully synced to vector database'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        96
      ],
      "id": "1bf8e2d0-4818-41d3-b85b-ab9bf6081424",
      "name": "Format Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        640
      ],
      "id": "aa8da63f-ce98-4495-93cf-e8ad1f957e38",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AmDv0XgXbiVbFCU1",
          "name": "Soter Studio Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "knowledge_base_vectors",
          "mode": "name"
        },
        "vectorIndexName": "vector_index",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        848,
        352
      ],
      "id": "7ff9841c-17af-4e4b-b083-b23494799f1a",
      "name": "MongoDB Atlas Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "71ZabfZ1nhAOCJRf",
          "name": "MongoDB vectors"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "kbItemId",
                "value": "={{ $json.kbItemId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        608
      ],
      "id": "4290b00f-74b9-42bd-9549-a8b5f07fe37b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        976,
        800
      ],
      "id": "0d43abfd-5453-4cf9-a70f-7064548bc66d",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "jsCode": "// Check if document exists in MongoDB\nconst { MongoClient } = require('mongodb');\n\n// Use your existing MongoDB connection string\nconst uri = process.env.VECTOR_DATABASE_URI || process.env.DATABASE_URI;\n\nif (!uri) {\n  throw new Error('VECTOR_DATABASE_URI or DATABASE_URI environment variable not set');\n}\n\nconst client = new MongoClient(uri);\n\nasync function checkExisting() {\n  try {\n    await client.connect();\n    const db = client.db('adaptmap_vectors'); // Your database name\n    const collection = db.collection('knowledge_base_vectors');\n    \n    const kbItemId = $('Parse Input').first().json.kbItemId;\n    const existing = await collection.findOne({ _id: kbItemId });\n    \n    return {\n      json: existing || null\n    };\n  } catch (error) {\n    throw new Error(`Failed to check existing vector: ${error.message}`);\n  } finally {\n    await client.close();\n  }\n}\n\nreturn checkExisting();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        112
      ],
      "id": "a5114f7c-d407-483e-aa5c-bceb6a9fd9ae",
      "name": "Check Existing Vector"
    },
    {
      "parameters": {
        "jsCode": "// Delete document from MongoDB\nconst { MongoClient } = require('mongodb');\n\nconst uri = process.env.VECTOR_DATABASE_URI || process.env.DATABASE_URI;\n\nif (!uri) {\n  throw new Error('VECTOR_DATABASE_URI or DATABASE_URI environment variable not set');\n}\n\nconst client = new MongoClient(uri);\n\nasync function deleteVector() {\n  try {\n    await client.connect();\n    const db = client.db('adaptmap_vectors');\n    const collection = db.collection('knowledge_base_vectors');\n    \n    const kbItemId = $('Parse Input').first().json.kbItemId;\n    const result = await collection.deleteOne({ _id: kbItemId });\n    \n    return {\n      json: {\n        deleted: result.deletedCount > 0,\n        kbItemId: kbItemId,\n        deletedCount: result.deletedCount\n      }\n    };\n  } catch (error) {\n    throw new Error(`Failed to delete vector: ${error.message}`);\n  } finally {\n    await client.close();\n  }\n}\n\nreturn deleteVector();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -144
      ],
      "id": "0a7b7459-0153-4f25-ad71-fc832c5f8ba9",
      "name": "Delete Vector"
    },
    {
      "parameters": {
        "jsCode": "// Delete document from MongoDB\nconst { MongoClient } = require('mongodb');\n\nconst uri = process.env.VECTOR_DATABASE_URI || process.env.DATABASE_URI;\n\nif (!uri) {\n  throw new Error('VECTOR_DATABASE_URI or DATABASE_URI environment variable not set');\n}\n\nconst client = new MongoClient(uri);\n\nasync function deleteVector() {\n  try {\n    await client.connect();\n    const db = client.db('adaptmap_vectors');\n    const collection = db.collection('knowledge_base_vectors');\n    \n    const kbItemId = $('Parse Input').first().json.kbItemId;\n    const result = await collection.deleteOne({ _id: kbItemId });\n    \n    return {\n      json: {\n        deleted: result.deletedCount > 0,\n        kbItemId: kbItemId,\n        deletedCount: result.deletedCount\n      }\n    };\n  } catch (error) {\n    throw new Error(`Failed to delete vector: ${error.message}`);\n  } finally {\n    await client.close();\n  }\n}\n\nreturn deleteVector();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        352
      ],
      "id": "dfd960e5-885a-48e2-9dc5-8d08a0c2c7c5",
      "name": "Delete Before Embedding"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Check Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action": {
      "main": [
        [
          {
            "node": "Delete Vector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch KB Item from Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch KB Item from Payload": {
      "main": [
        [
          {
            "node": "Check Existing Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Sync Needed": {
      "main": [
        [
          {
            "node": "Should Sync?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Sync?": {
      "main": [
        [
          {
            "node": "Delete Before Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text for Embedding": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Update Embedding Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Embedding Metadata": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Vector": {
      "main": [
        [
          {
            "node": "Check If Sync Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Vector": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Before Embedding": {
      "main": [
        [
          {
            "node": "Prepare Text for Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b965f1b1f353f12e1f5972bc6fbf945dbfe06182ae524b0cb4a5b1c93ccbc132"
  }
}